<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>{{ 'HELLO' | translate }}</div>
  <div [innerHTML]="'GREETING' | translate:{name: 'nicolas'}"></div>
  <ion-item>
    <ion-label>Language</ion-label>
    <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss" (ionChange)="changeLang($event)">
      <ion-select-option *ngFor="let lang of langs" [value]="lang">
        {{ lang }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
